%h1 Proyecto

%p
  %b Cliente:
  = @proyecto.cliente.nombre
%p
  %b Nombre:
  = @proyecto.nombre

.form-actions
  = link_to 'Volver', proyectos_path, class: 'btn'
  = link_to 'Editar', edit_proyecto_path(@proyecto), class: 'btn'
  = link_to 'Eliminar', proyecto_path(@proyecto), :method => 'delete', :confirm => '¿Está seguro?', :class => 'btn btn-danger' 