= simple_form_for @tarea, html: { class: 'form-horizontal' } do |f|
  = f.error_notification
  .form-inputs
    = f.association :proyecto, collection: Proyecto.order(:nombre), label_method: :nombre, include_blank: false, prompt: '-- Seleccionar --'
    = f.association :estado, collection: Estado.all, label_method: :nombre, include_blank: false, prompt: '-- Seleccionar --'
    = f.association :user, collection: User.order(:nombre_usuario), label_method: :nombre_usuario, include_blank: false, prompt: '-- Seleccionar --'
    = f.input :descripcion
  .form-actions
    = f.submit 'Guardar', class: 'btn btn-primary'
    = link_to 'Cancelar', tareas_path, class: 'btn'
