= form_for @tarea do |f|
  - if @tarea.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tarea.errors.count, "error")} prohibited this tarea from being saved:"
      %ul
        - @tarea.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :proyecto
    = f.text_field :proyecto
  .field
    = f.label :estado
    = f.text_field :estado
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :descripcion
    = f.text_area :descripcion
  .actions
    = f.submit 'Save'
