<h2>Editar</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :autocomplete => "off", :hint => "Déjelo en blanco si no desea actualizarlo", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "Ingrese su contraseña actual para confirmar los cambios", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Actualizar" %>
  </div>
<% end %>