%h1 Users

.row
  .span3
    .well
      = link_to 'New user', new_user_path, class: 'btn btn-primary'
  .span9
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Username    
          %th Actions
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.username, user_path(user)
            %td
              = link_to 'Edit', edit_user_path(user), class: 'btn btn-mini'
              = link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger'

    = will_paginate @users, previous_label: h("<"), next_label: h(">"), class: "pagination pagination-centered"