= simple_form_for @usuario, url: (@usuario.new_record? ? usuarios_path : usuario_path(@usuario)), html: { class: 'form-horizontal' } do |f|
  .form-inputs
    = f.error_notification
    = f.input :nombre_usuario
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
  .form-actions
    = f.submit 'Guardar', class: 'btn btn-primary'
    = link_to 'Cancelar', usuarios_path, class: 'btn'